#!/bin/bash
declare IGNORED_VIEWS_STRING=""
declare IGNORE_DATA_TABLE_STRING=""
cd ${tempPath}
# shellcheck disable=SC2006
mysql --skip-column-names -e"SHOW FULL tables FROM ${db} WHERE Table_Type != 'VIEW'" | while read -r table type; do
do
  IGNORED_VIEWS_STRING+=" --ignore-table=${db}.${table}"
done

echo "Dump ${db} structure"
mysqldump --add-drop-table --skip-triggers --single-transaction --no-data ${IGNORED_VIEWS_STRING} ${db} > ${db}.structure.sql
sed -i 's/DEFINER=[^*]*\*/\*/g' "${db}.structure.sql"

echo "Dump ${db} data"
mysqldump --add-drop-trigger --skip-triggers --no-create-info --lock-tables=false --skip-lock-tables ${IGNORED_VIEWS_STRING} ${IGNORE_DATA_TABLE_STRING} ${db} > ${db}.data.sql
sed -i 's/DEFINER=[^*]*\*/\*/g' "${db}.data.sql"

echo "tar ${db}.tar.gz data"
tar -czf ${db}.tar.gz *.sql